.navbar-right {
    margin-right: 30px;
}
.btn-danger {
    border: 1px solid red;
}
.dropdown-menu{
    width: 150%;
}
.dropdown-item {
    margin: 10px 0 8px 10px;
}
.dropdown-item a{
    text-align: start;
    color: tomato;
}